

    
   

<div>
    <input type="button" value="Ottimizza Naive" onclick="location.href='@Url.Action("OttimizzaNaive", "Ottimizzazione")'" />
</div>

<div>
    <input type="button" value="Ottimizza Con Euristica" onclick="location.href='@Url.Action("OttimizzaConEuristica", "Ottimizzazione")'" />
</div>
